{% extends "@FrontendMain/External/base_siderbar.html.twig" %}

{% block sidebar_header %}
    {{ "frontend.user.panel"|trans }}
{% endblock %}

{% block sidebar_items %}
    <a class="collection-item"
       href="{{ path("frontend_user_object_list") }}"> {{ "frontend.user.object.list.title"|trans }}</a>
    <a class="collection-item"
       href="{{ path("frontend_user_object_list_create") }}"> {{ "frontend.user.object.create.title"|trans }}</a>
    <a class="collection-item"
       href="{{ path("fos_user_security_logout") }}"> {{ "frontend.main.user.logout"|trans }}</a>
{% endblock %}