{% extends 'FrontendMainBundle:Layout:layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets '@base_assets_css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{parent()}}
    {% javascripts '@base_assets_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% set menuItem = knp_menu_get('main') %}
    <div class="mdl-layout">
	{% block header %}
	    {{include('FrontendMainBundle:Main:header.html.twig')}}
	{% endblock %}
	<main class="mdl-layout__content">
	    <div class="container main-container">

        {# ...or you can read and display every flash message available #}
        {% for type, flash_messages in app.session.flashBag.all %}
            {% for flash_message in flash_messages %}
                <div class="card-panel flash-{{ type }}">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endfor %}
		{% block content %}
		    {{include('FrontendMainBundle:Main:content.html.twig')}}
		{% endblock %}
	    </div>
	    {% block footer %}
		{{include('FrontendMainBundle:Main:footer.html.twig')}}
	    {% endblock %}
	</main>
    </div>
{% endblock %}